* {
    margin: 0;
    padding: 0;
}

.espaco {

  padding-bottom: 20px;
}

body {
    font-family: Arial, sans-serif; /* Fonte padrão */
    background-color: aquamarine; /* Cor de fundo clara */
    color: #333; /* Cor do texto */
    line-height: 1.6; /* Espaçamento entre linhas */
    padding: 20px; /* Espaçamento interno */
}

header {
    background-color: #35424a; /* Cor de fundo do cabeçalho */
    color: #ffffff; /* Cor do texto do cabeçalho */
    padding: 20px 0; /* Espaçamento interno do cabeçalho */
    text-align: center; /* Centraliza o texto */
}

nav ul li {
    display: inline; /* Exibe os itens do menu na mesma linha */
    margin-right: 15px; /* Espaçamento entre os itens */
    
}

nav ul li a {

    color: white;
    text-decoration: none;
    font-weight: bold;
}

h2 {

    margin: 20px; /* Espaçamento acima e abaixo do título */
}

.container {
  display: flex;  /* Usando Flexbox para layout */
  flex-wrap: wrap;  /* Permite que os itens quebrem linha */
  gap: 24px;  /* Espaçamento entre os itens */
  justify-content: center;  /* Centraliza os itens horizontalmente */
  padding: 15;  /* Espaçamento interno */

}

.card {
  width: 300px;  /* Largura fixa para cada card */
  background: #fff;  /* Fundo branco */
  border-radius: 14px;  /* Bordas arredondadas */
  overflow: hidden;  /* Esconde o conteúdo que ultrapassa as bordas */
  font-family: Arial, sans-serif; /* Fonte padrão */
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1); /* Sombra suave */
}



.card img {
  width: 100%;  /* Largura total da imagem */
  height: 180px; /* Altura fixa para a imagem */
  object-fit: cover; /* Cobre toda a área da imagem */
  display: block; /* Remove espaços em branco abaixo da imagem */
}

.card p {
  font-weight: bold;  /* Texto em negrito */
  font-size: 1.2em; /* Tamanho da fonte */
  padding: 18px 12px 18px 12px; /* Espaçamento interno */
  margin: 0; /* Remove margem padrão */
}

footer p {
    text-align: center; /* Centraliza o texto do rodapé */
    padding: 10px; /* Espaçamento interno do rodapé */
    background-color: #35424a; /* Cor de fundo do rodapé */
    color: #ffffff; /* Cor do texto do rodapé */
    position: fixed; /* Mantém o rodapé fixo na parte inferior da página */
    bottom: 0; /* Posiciona o rodapé na parte inferior */
    width: 100%; /* Largura total */
}

.fundo {

  background-color: bisque;
}

